<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<span sec:authorize="isAuthenticated()">
  <a href="/add">Add Message</a>
  <a href="/logout">Logout</a>
  <span>Welcome</span>
</span>

<span sec:authorize="!isAuthenticated()">
  <a href="/login">Login</a>

</span>

<span sec:authorize="!isAuthenticated()">
  <a href="/register">Register</a>

</span>
<!--<a href="@{/login}">Login</a><br />-->
<!--<a href="@{/register}">Register</a>-->
<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Posted By</th>
        <th>Posted Date</th>
    </tr>
    <tr th:each="bullhorn : ${bullhorns}">
        <td th:text="${bullhorn.title}"></td>
        <td th:text="${bullhorn.postedDate}"><</td>
        <td th:text="${bullhorn.postedBy}"></td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/update/{id}(id=${bullhorn.id})}">Update</a> -
                <a th:href="@{/detail/{id}(id=${bullhorn.id})}">Details</a> -
                <a th:href="@{/delete/{id}(id=${bullhorn.id})}">Delete</a> -
            </div>
            <div sec:authorize="hasAuthority('USER')">
                <a th:href="@{/detail/{id}(id=${bullhornid})}">Details</a> -
            </div>
        </td></tr>

</table>
</body>
</html>